
<div>
 <hr size="1" width="100%" style="color:#eee">
</div>
<div class="container">
<div class="row">
<div class="col-md-2 col-sm-6 col-xs-6">
<h5 id="footerheaders">Company</h5>
<div class=" ">
<a href='@routes.PageController.about("about")' id="footerlinks">About Us</a><br>
<a href='@routes.PageController.about("careers")' id="footerlinks">careers</a><br>
<a href="http://localhost:9000/customer-service" id="footerlinks">Customer Service</a><br>
<a href='@routes.PageController.about("mission-values")' id="footerlinks">Mission &amp; Values</a><br>
<a href='@routes.PageController.newsroom()' id="footerlinks">Newsroom</a><br>
<a href='@routes.PageController.about("investor-relation")' id="footerlinks">Investor Relation</a><br>
<a href='@routes.PageController.community()' id="footerlinks">In Your Community</a><br>
</div>
</div>

<div class="col-md-2 ">
<h5 id="footerheaders">Work with E-dealing</h5>
<div class=" ">
<a href='@routes.PageController.about("how-it-works")' id="footerlinks">How E-dealing Works</a><br>
<a href='@routes.PageController.about("your-right-to-know")' id="footerlinks">Your Right To Know</a><br>
<a href='@routes.PageController.about("affiliate")' id="footerlinks">Affiliate Program</a><br>
<a href='@routes.PageController.about("internet-based-ads")' id="footerlinks">Internet Based Ads</a><br>
<a href='@routes.PageController.about("quality-standards")' id="footerlinks">Quality Standards</a><br>
<a href='@routes.PageController.about("chain-desclosures")' id="footerlinks">Dealer Chain Disclosures</a><br>
<a href='@routes.GetstartedController.getstarted()' id="footerlinks">Get Started</a><br>
</div>
</div>

<div class="col-md-2 col-sm-6 col-xs-6">
<h5 id="footerheaders">More From E-dealing</h5>
<div class=" ">

 <a href="#" id="footerlinks">Comdeni 365 &trade;</a><br> 
<a href="#" id="footerlinks">Comdeni Planet Foundation</a><br>
<!-- <a href="#" id="footerlinks">E-Dealing Kids Foundation</a><br><!-- &amp;Cities -->
</div>
</div>

<div class="col-md-2">
<h5 id="footerheaders">Connect with Us</h5>
<div class=" ">

<a href="#" id="footerlinks">Facebook</a><br>
<a href="#" id="footerlinks">Twitter</a><br>
<a href="#" id="footerlinks">Instagram</a><br>
<a href="#" id="footerlinks">Youtube</a><br>
<a href="#" id="footerlinks">Google +</a><br>
<a href="#" id="footerlinks">Pinterest</a><br>
</div>
</div>
<div class="col-md-4">
<div class=" " style="background:#53A318">
<p style="color:#fff">Get The E-dealing Mobile App Right Here Now</p>
<p style="color:#fff">.</p>
<p style="color:#fff">.</p>
</div>
<div class=" " style="background:#53A318">
<p><a href="#" style="color:#fff">Grow Your Business By Working With E-dealing</a></p>
<p><a href="#" style="color:#fff">Comdeni Merchants</a></p>
<p><a href="#" style="color:#fff">Comdeni Merchants</a></p>
</div>
</div>

</div>
<br>
<h5 id="footerheaders">Incredible Deals on Local Experiences</h5>
<p id="footerlinks">
Discover fun activities and huge discounts Locally with Comdeni. Check out great deals from Foods, kids
activities, Sport, Learning, Music to nightlife.<br> try thousands of local deals with Comdeni. Find out more With the Entire City in Your Hands</p>

<p id="footerlinks" ><strong>Comdeni Guide</strong>
for <a href='@routes.GetstartedController.getstarted()' id="footerlinks"><u>Online Business Marketing</u></a>, and <a href='@routes.GetstartedController.getstarted()' id="footerlinks"><u>Small Businesses</u></a></p>
<!-- , and <a href="#" id="footerlinks"><u></u></a> -->
<p> &copy;2019 Comdeni, . All Rights Reserved. <a href="@routes.PageController.policies()" id="footerlinks"><u>Terms of Use</u></a>  <a href="@routes.PageController.policies()" id="footerlinks"><u>Privacy Statement</u></a>  <a href="@routes.PageController.policies()" id="footerlinks"><u>Corporate Policies</u></a> </p>
</div>
	
				<br>

